In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,J Cole,Farewell,"Yeah, farewell \r\nHey, farewell \r\nAlllmy ..."
1,Xscape,Softest Place On Earth,"It's a glowing little feeling, \r\nLike a sum..."
2,Flo-Rida,Jump,"[Chorus: Nelly Furtado] \r\nWhen I say jump, ..."
3,Horrible Histories,Mary Seacole Song,"Me name Mary Seacole, famous nurse \r\nTo de ..."
4,George Jones,C.C. Waterback,CC Waterback one tequila sunrise \r\nOne's fo...
5,Iggy Pop,Cold Metal,I played tag in the auto graveyard \r\nI look...
6,Bonnie Raitt,You're Gonna Get What's Coming,You came up on me like a landslide \r\nOnce i...
7,Nazareth,I Will Not Be Led,"You have your rules and regulations, \r\nYou ..."
8,Ace Of Base,Donnie,Donnie's got a secret and you know it \r\nHe ...
9,Sia,One More Shot,"I, I, I never would have thought it would end ..."

In [9]:
df['text'][0]

'Yeah, farewell  \r\nHey, farewell  \r\nAlllmy n-ggas farewell  \r\nFayettenam  \r\n  \r\nLook, some n-ggas let there dirt out,  \r\nSome n-ggas keep it in \'em  \r\nSo when a man dies all his secrets go with him  \r\nAnd fame a part of history no longer known  \r\nDone did a lot of dirt I\'ll bury with me when I\'m gone  \r\nWhen my story\'s told, how will they tell it?  \r\nWill they say I was a giver or will they say I was selfish  \r\nWill they say I was a sinner or pretend I was a saint  \r\nWill I go down as a winner, what\'s the picture they gon paint  \r\nWouldn\'t say that I\'m a quitter that\'s one thing I know I aint aint  \r\nWill they tarnish, will they taint?  \r\nGlorify me, overthink, say they know me, say I\'m great  \r\nSay I\'m phoney, I was fake  \r\nSay the things about me they never told me to my face  \r\nI was loved I was hated  \r\nJust a n-gga with a dream  \r\nI\'m a liar I was honest, I was all of these things  \r\nWhen I\'m gone let em talk  \r\nThey discussing who I am  \r\nWhen they bury me just know I was nothing but a man  \r\nWasn\'t nothin\' but a man  \r\n  \r\nThis for n-ggas climbin\' heavens stairwell  \r\nYeah, hey farewell  \r\nYeh, hey farewell  \r\nThis for n-ggas climbin\' heavens stairwell  \r\nI pray you farewell  \r\nI bid you farewell  \r\nYeah, ey, farewell  \r\nYeah, yeah  \r\n  \r\nIf I should die Lord this here is my will  \r\nReincarnate a n-gga send me right back to the Ville  \r\nLet me relive my younger days just once again  \r\nReenact my memories from every friend to every sin  \r\nKeeping demons buried in my closet  \r\nBut yet I put in work like a deposit on my bank account  \r\nMy eyes lit while I think about my childhood now I\'m blanking out  \r\nThose were truly my best days  \r\nThe only thing I had to stress was how the hell to get laid  \r\nGradually turn into me stressin\' how the hell to get paid  \r\nBeen making songs so long, now how the hell they get played  \r\nOk, I\'m blowing up quickly  \r\nI guess the flow is sickly  \r\nBut yet I can\'t forget my past and hope it won\'t forget me  \r\nGot good grades but age can\'t stop strays so pray for me  \r\nPour liquor for my n-ggas but hey, don\'t wait for me  \r\nCause I\'m trying to cheat death, she had to bury my ass  \r\nYou know the cliche "lifes a bitch" well I\'m gon marry that ass  \r\nAnd sign a pre-nup  \r\nThink back to when we tore the skating rink up  \r\nRapping and we scrapping, we got older hit the teen club  \r\nGave mean mugs to n-ggas but we winked to all the girls  \r\nThen we went back to the crib thinking we had saw the World  \r\nNo way, came a long way from having mom chauffer  \r\nIt\'s hard to think these hoes at some point were so pure  \r\nBut now we play the game, when it\'s over send me back  \r\nI swear I\'m not gon change a thing  \r\nI swear I\'m not gon change a thing  \r\n  \r\nThis for them n-ggas climbin\' heavens stairwell  \r\nYeah, hey farewell  \r\nI pray you n-ggas farewell  \r\nThis for n-ggas climbin\' heavens stairwell  \r\nHey farewell, hey farewell  \r\nYeah, farewell  \r\nYeh\r\n\r\n'

In [10]:
# df = df.sample(5000)

In [11]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
# Import or define the tokenization function
def tokenization(text):
    # Your tokenization logic goes here
    # For example, using a simple split for illustration
    tokens = text.split()
    return tokens

# Now, apply the tokenization function to the 'text' column
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Assuming 'df' is your DataFrame and 'text' is the column you want to analyze
# Make sure 'text' is a valid column containing lists of words

# Convert each list of words into a string
df['text'] = df['text'].apply(lambda x: ' '.join(map(str, x)))

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(analyzer='word', stop_words='english')

# Fit and transform the 'text' column to obtain the TF-IDF matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(df['text'])

# Calculate cosine similarity between documents
similarity_matrix = cosine_similarity(tfidf_matrix)

# 'similarity_matrix' now contains the pairwise cosine similarity between documents

In [21]:
# Assuming similarity_matrix is a NumPy array

# Access the first row of the similarity matrix
first_row_similarity = similarity_matrix[0]

# Display or use the first row
print(first_row_similarity)

[1.         0.00995539 0.03262756 ... 0.0128126  0.00124091 0.00727882]

In [22]:
df[df['song'] == 'Crying Over You']

,artist,song,text
4771,ABBA,Crying Over You,i'm waitin' for you baby i'm sitting all alone...

In [23]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [29]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity_matrix[idx])), reverse=True, key=lambda x: x[1])
    songs = []
    for m_id in distances[1:21]:
        songs.append(df['song'].iloc[m_id[0]])
    return songs
# Example usage:
recommended_songs = recommendation('Crying Over You')

# Display the recommended songs
print(recommended_songs)

["Cryin'", 'Blue Eyes Crying In The Rain', 'Epitaph', 'Oh My Lord', "Ain't Nobody's Business", 'Blue, Blue Day', 'Baby', "I'm In A Blue, Blue Mood", 'You Move Me', 'The Same Love That Made Me Laugh', 'Blue Morning, Blue Day', 'Even Me', 'Blue Is Not A Word', 'Something Out Of The Blue', 'Almost Blue', 'Stand Alone', "Aren't You The Girl", 'Blue Again', 'Cool Blue', "I'd Still Want You"]

In [31]:
import pickle

# Assuming similarity_matrix and df are defined in your code
# If similarity_matrix is the cosine similarity matrix and df is your DataFrame

# Dump the similarity_matrix into a pickle file
with open('similarity.pkl', 'wb') as file:
    pickle.dump(similarity_matrix, file)

# Dump the df DataFrame into a pickle file
with open('df.pkl', 'wb') as file:
    pickle.dump(df, file)